* {
    color: #8B7969;
    font-family: "Inika", sans;
    font-style: normal;
    font-weight: 400;
}

.header {
    border-bottom: 1px solid #E0DFDE;
}

.header__inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin: 0 auto;
    max-width: 1230px;
    padding: 20px 15px;
    position: relative;
    text-align: center;
}

.header__logo {
    color: #8B7969;
    font-size: 32px;
    left: 50%;
    position: absolute;
    text-decoration: none;
    transform: translate(-50%, -50%);
    top: 50%;
}

.header__logout-button {
    background: rgba(240, 240, 240, 0.6);
    border: 1px solid #D9C6B5;
    padding: 5px 15px;
}

.header__logout-button a {
    color: #D9C6B5;
    text-decoration: none;
}

.admin__content {
    margin: 0 auto;
    max-width: 1100px;
    padding: 30px;
}

.admin__heading {
    margin-bottom: 40px;
    text-align: center;
}

h2 {
    font-size: 28px;
}

.search-form {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    margin-bottom: 40px;
    width: 100%;
}

.search-form__item-input {
    background: #FBFBFB;
    border: 1px solid #E3DED9;
    color: #BEB1A6;
    width: 35%;
}

.search-form__item-select {
    background: #F4F4F4;
    border: 1px solid #E3DED9;
    color: #8B7969;
}

.search-form__item-search {
    background: #82756A;
    border: 1px solid #8B7969;
    color: #FFFFFF;
}

.search-form__item-reset {
    background: #D9C6B5;
    border: 1px solid #D9C6B5;
    color: #FFFFFF;
}

.search-form__item-input {
    padding: 5px 10px;
    width: 35%;
}

.search-form__item-select--gender,
.search-form__item-search,
.search-form__item-reset {
    padding: 10px;
    width: 10%;
}

.search-form__item-select--category {
    padding: 10px;
    width: 20%;
}

.search-form__item-select--date {
    padding: 10px;
    width: 15%;
}

.content__menu {
    margin-bottom: 20px;
}

.content__menu--export-button {
    background: rgba(225, 219, 214, 0.6);
    padding: 10px;
    text-decoration: none;
}

.inquiry-table__inner {
    border: 1px solid #E0DFDE;
    border-collapse: collapse;
    width: 100%;
}

.inquiry-table__header {
    background: #8B7969;
    color: #FFFFFF;
    font-weight: bold;
    text-align: left;
    padding: 15px 30px;
}

.inquiry-table__item {
    padding: 15px 30px;
}

.modal-checkbox {
    display: none;
}

.modal-open-button {
    background: rgba(244, 244, 244, 0.3);
    border: 1px solid rgba(217, 198, 181, 0.6);
    color: #D9C6B5;
    padding: 5px 10px;
}

.modal {
    align-items: center;
    background-color: rgb(0 0 0 / 0.6);
    display: none;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.close {
    border: 1px solid #8B7969;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    height: 30px;
    position: absolute;
    right: 30px;
    top: 30px;
    transform: translate(50%, -50%);
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-wrapper {
    background-color: #FEFEFE;
    border-radius: 5px;
    margin: auto;
    max-height: 70%;
    max-width: 500px;
    overflow: scroll;
    padding: 20px;
    position: relative;
    width: 80%;
}

.modal-content h1 {
    font-size: 4rem;
    line-height: 1.2em;
    letter-spacing: -0.02em;
    margin: 0;
}

.modal-checkbox:checked+.modal {
    display: flex;
}

.detail-form {
    padding: 50px;
}

.detail-content__group {
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin-bottom: 10px;
}

span {
    font-size: 14px;
    font-weight: bold;
    grid-column: 1/2;
    margin-right: 10px;
}

input {
    border: none;
    font-size: 14px;
    grid-column: 2/3;
}

.detail-content__button {
    margin-top: 30px;
    text-align: center;
}

.detail-content__button-submit {
    background: #BA370D;
    border: none;
    color: #FFFFFF;
    padding: 5px 10px;
}