.header {
    border-bottom: 1px solid #E0DFDE;
}
.header__inner {
    margin: 0 auto;
    max-width: 1230px;
    padding: 20px 15px;
}
.header__logo {
    color: #8B7969;
    font-size: 24px;
    text-align: center;
    text-decoration: none;

}