* {
    color: #8B7969;
    font-family: "Inika", sans;
    font-style: normal;
    font-weight: 400;
}
.header {
    border-bottom: 1px solid #E0DFDE;
}
.header__inner {
    align-items: center;
    height: 100px;
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px 15px;
    position: relative;
    text-align: center;
}
.header__logo {
    color: #8B7969;
    font-size: 32px;
    left: 50%;
    position: absolute;
    text-decoration: none;
    transform: translate(-50%, -50%);
    top: 50%;
}