.contact-form__content {
    margin: 0 auto;
    max-width: 1000px;
    padding: 30px;
}

.contact-form__heading {
    margin-bottom: 40px;
    text-align: center;
}

h2 {
    font-size: 28px;
}

.form__group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.form__group-title {
    width: 30%;
}

.form__group-content {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.form__label--item::after {
    color: red;
    content: "※";
}

.no-asterisk::after {
    content: none;
}

.form__input--text input,
.form__input--textarea textarea,
.form__input--select select,
.form__input--radio radio {
    background: #F4F4F4;
    border: none;
    color: #BEB1A6;
    font-size: 12px;
    padding: 10px;
}

.form__input--select select {
    appearance: none;
}

.form__input--select {
    position: relative;
}

.form__input--select::after {
    border-bottom: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #BEB1A6;
    content: "";
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.form__input--text--last-name, .form__input--text--first-name {
    width: 48%;
}

.form__input--text--last-name input,
.form__input--text--first-name input {
    width: 100%;
}

.form__input--text--tel1,
.form__input--text--tel2,
.form__input--text--tel3 {
    width: 30%;
}

.form__input--text--tel {
    display: flex;
    align-items: center;
}

.form__input--text--tel--hyphen {
    font-size: 16px;
}

.form__input--text--tel1 input,
.form__input--text--tel2 input,
.form__input--text--tel3 input {
    text-align: center;
    width: 100%;
}

.form__input--text--mail,
.form__input--text--address,
.form__input--textarea {
    width: 100%;
}

.form__input--text--mail input,
.form__input--text--address input,
.form__input--textarea textarea {
    width: 100%;
}

textarea {
    resize: none;
}

.form__input--select {
    width: 50%;
}

.form__input--select select {
    width: 100%;
}

.form__input--radio input:first-child {
    margin-left: 10px;
}

.form__input--radio input:not(:first-child) {
    margin-left: 50px;
}

.form__input--radio input {
    margin-right: 5px;
}

.form__input--radio input:checked {
    background-color: #8B7969;
    border-color: #8B7969;
}

input[type="radio"] {
    appearance: none;
    width: 14px;
    height: 14px;
    border: 1px solid #8B7969;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    position: relative;
}

input[type="radio"]:checked {
    background-color: #8B7969;
    border-color: #8B7969;
}

.form__button {
    margin-top: 50px;
    text-align: center;
}

.form__button-submit {
    background: #82756A;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 40px;
}